@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindos a Nossa Loja</h1>
    <p>Conheça nossos produtos</p>
</div>
<div>

    <video autoplay muted loop class="video-fundo">
        <source src="/videos/video_girassol.mp4" type="video/mp4" />
    </video>
</div>
