html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #F8F3E9
}

.color-label {
    color: #2E4D37
}

.bg-verde-medio {
    background-color: #A6B58D;
}

.btn-hover:hover {
    background: #2E4D37
}

.color-link {
    color: #A6B58D 
}

.custom-hover:hover {
    color: #2E4D37
}

.custom-bg {
    background-color: #EFE6D6
}