html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
header {
    margin-bottom: 20px;
    background-color: #00ff21;
}

.navbar {
    /* Define o verde escuro como cor de fundo */
    background-color: #0f4424;
}

    /* Altera a cor do texto do link e da marca para branco (para contraste) */
    .navbar .nav-link,
    .navbar-brand {
        color: #ffffff;
    }

        /* Opcional: Garante que os links permaneçam brancos no hover/foco */
        .navbar .nav-link:hover,
        .navbar .nav-link:focus {
            color: #cccccc; /* Um cinza claro sutil para o efeito hover */
        }


footer {
    background-color: #0f4424;
}