<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pura Essência</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoPuraEssencia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar col-12 m-a d-flex py-1 align-items-center navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" style="z-index:999; background-color:#3A5D3E">
        <div class="container-fluid h-100 py-0">
            <img src="/img/logoPuraEssenciaSfundo.png" alt="logo" />

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height:500px;">
            <div class="carousel-item active">
                <img src="/img/organicoCafe.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="height:auto;">
                <img src="/img/chaCamomila.jpg" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/temperoOregano.jpg" class="d-block w-100 " alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="promocao" style="align-items:center;display:flex; justify-content:center;">
    <label style="width:500px; text-align:center; align-items:flex-start; background-color:darkgray; border-radius:3px;font-size:30px;">Nas compras acima de R$ 60,00 ganhe um brinde sustentável</label>
    </div>
    <br><br>
    <h2 style="text-align:center; background-color:#D4AF37;">Chá</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/img/chaHortela.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">hortelã</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/chá_camomila.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/chaMate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>        
    </div>
    <h2 style="text-align:center;background-color:#D4AF37;">Temperos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/img/temperoManjericao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/temperoAlecrim.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/temperoOregano.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 style="text-align:center;background-color:#D4AF37;">Orgânicos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/img/organicoCafe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/organicoAcucar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/organicoChocolatePo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-column footer-esquerdo">
                
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Sobre Nós</a></li>
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="/contact">Contato</a></li>
                </ul>
            </div>

            <div class="footer-central">
                
                <div class="social-links">
                    <p>Nossas Redes Sociais</p>
                    <br>
                    <a href="#"><i class="fab fa-facebook-f"></i> 
                        <img src="/img/icone_facebook_removebg.png" alt="facebook"></a><br>

                    <a href="#"><i class="fab fa-twitter"></i> 
                        <img src="/img/icone_X_removebg.png" alt="twiter" ></a><br>

                    <a href="#"><i class="fab fa-linkedin-in"></i> 
                        <img src="/img/icone_Instagram_removebg.png" alt="instagram" /></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i> 
                        <img src="/img/icone_whatsapp__1_-removebg.png" alt="Whatsapp" />
                    </a>
                </div>
               
            </div>

            <div class="footer-column footer-direito">
              <h4>Pura Essência</h4>
                <p>
                    R.Guiapa,678 Vila Leopoldina<br>
                    Cep.05089-001 - São Paulo, SP, Brasil<br>
                    Telefone:(12) 3456-7890<br>
                    Email: puraessencia@puraessencia.com.br
                </p>
               
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; @DateTime.Now.Year Seu Site. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
