<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pura Essência</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoPuraEssencia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pura Essência</a>
               
                
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-column footer-esquerdo">
                ### Navegação Rápida
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Sobre Nós</a></li>
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="/contact">Contato</a></li>
                </ul>
            </div>

            <div class="footer-column footer-central">
                
                <div class="social-links">
                    <p>Nossas Redes Sociais</p>
                    <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a><br>
                    <a href="#"><i class="fab fa-twitter"></i> Twitter</a><br>
                    <a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                </div>
               
            </div>

            <div class="footer-column footer-direito">
              <colspan>Pura Essência</colspan>
                <p>
                    R.Guiapa,678 Vila Leopoldina<br>
                    Cep.05089-001 - São Paulo, SP, Brasil<br>
                    Telefone:(12) 3456-7890<br>
                    Email: puraessencia@puraessencia.com.br
                </p>
               
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; @DateTime.Now.Year Seu Site. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
