<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pura Essência</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetoPuraEssencia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar col-12 m-a d-flex py-0 pb-5  h-auto fixed-top  align-items-center navbar-expand-sm navbar-toggleable-sm navbar-light mb-0 p-0 box-shadow " style="z-index:999; background-color:#3A5D3E">

        <div class="container-fluid h-100 py-0" >
            <img src="/img/logoPuraEssenciaSfundo.png" alt="logo" />

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuMobile" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                
                <span class="navbar-toggler-icon"></span>
                </button>
                <div id="menuMobile" class="collapse navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                               asp-area=""
                               asp-controller="Usuario"
                               asp-action="Login"
                               target="_blank"
                               rel="noopener noreferrer"
                               data-ajax="false">Login</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container"  >
        <main role="main" class="pb-0">
            @RenderBody()
        </main>
    </div>
    <div id="carouselExampleAutoplaying"  class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner"  style="height:auto;">
            <div class="carousel-item active">
                <img src="/img/organicoCafe_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" style="height:auto;">
                <img src="/img/chaCamomila_1.jpg" class="d-block w-100 " alt="...">
            </div>
            <div class="carousel-item">
                <img src="/img/temperoOregano_1.jpg" class="d-block w-100 " alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="promocao" style="align-items:center;display:flex; justify-content:center;">
        <label class="promocao-label">
            Nas compras acima de R$ 60,00 ganhe um brinde sustentável
        </label>
    </div>
    <br><br>
    <h2 style="text-align:center; background-color:#D4AF37;">Chás (apagar esta observação)</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto p-3">
        <div class="col">
            <div class="card h-100">
                <img src="/img/chaHortela.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hortelã 20g</h5>
                    <p class="card-text">A hortelã é uma erva aromática muito conhecida pelo seu aroma fresco e sabor refrescantel, ela é utilizada tanto na culinária, quanto na medicina caseira para aliviar dores de estômago, melhorar a digestão e refrescar a respiração.</p>
                        <span class="main-price">R$ 4,75</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                    </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/chá_camomila.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Camomila flor 15g</h5>
                    <p class="card-text">A camomila é uma planta medicinal conhecida por seu efeito calmante. Muito usada em chás, ajuda a aliviar ansiedade, melhorar o sono e reduzir inflamações. Possui flores pequenas e brancas, com aroma suave e terapêutico.</p>
                    <span class="main-price">R$ 6,15</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/chaMate.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chá Mate 250g</h5>
                    <p class="card-text">O chá-mate é uma bebida feita das folhas da erva-mate, conhecida pelo sabor levemente amargo e pelo efeito estimulante, graças à cafeína natural. É muito consumido quente ou gelado, ajudando a dar energia, melhorar a concentração e auxiliar na digestão.</p>
                    <span class="main-price">R$ 9,90</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>        
    </div>
    <h2 style="text-align:center;background-color:#D4AF37;">Temperos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto p-3">
        <div class="col">
            <div class="card h-100">
                <img src="/img/temperoManjericao.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Manjericão 20g</h5>
                    <p class="card-text">O manjericão é uma erva aromática muito usada na culinária, especialmente em pratos italianos. Tem folhas verdes e perfumadas, com sabor levemente doce e picante. Além de realçar o sabor dos alimentos, possui propriedades antioxidantes e anti-inflamatórias.</p>
                    <span class="main-price">R$ 8,40</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/temperoAlecrim.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alecrim 25g</h5>
                    <p class="card-text">O alecrim é uma erva aromática de aroma forte e marcante, muito usada como tempero em carnes, batatas e pães. Suas folhas finas e verdes possuem propriedades estimulantes, antioxidantes e anti-inflamatórias. Além de realçar sabores, o alecrim é conhecido por ajudar na memória, concentração e na digestão.</p>
                    <span class="main-price">R$ 5,35</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/temperoOregano.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orégano 10g</h5>
                    <p class="card-text">O orégano é uma erva aromática muito utilizada na culinária, especialmente em pizzas, molhos e carnes. Tem sabor marcante e levemente picante, além de ser rico em antioxidantes e possuir propriedades antimicrobianas.</p>
                    <span class="main-price">R$ 9,40</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
    </div>
    <h2 style="text-align:center;background-color:#D4AF37;">Orgânicos</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 col-11 m-auto p-3">
        <div class="col">
            <div class="card h-100">
                <img src="/img/organicoCafe.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Café Orgânico 250g</h5>
                    <p class="card-text">O café orgânico é cultivado sem agrotóxicos, adubos químicos ou produtos sintéticos, respeitando o meio ambiente e a saúde do solo. Ele preserva melhor o sabor natural do grão, resultando em uma bebida mais pura e aromática.</p>
                    <span class="main-price">R$ 30,49</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/organicoAcucar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Açúcar Orgânico 1kg</h5>
                    <p class="card-text">O açúcar orgânico é produzido sem agrotóxicos, fertilizantes químicos ou aditivos artificiais. Ele passa por um processo menos refinado, preservando mais nutrientes naturais da cana e mantendo uma cor levemente mais escura.</p>
                    <span class="main-price">R$ 9,20</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/img/organicoChocolatePo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chocolate Orgânico 400g</h5>
                    <p class="card-text">O chocolate orgânico é produzido a partir de cacau cultivado sem agrotóxicos, adubos químicos ou conservantes artificiais. Seu processo é mais natural e sustentável, valorizando a biodiversidade e o trabalho dos produtores</p>
                    <span class="main-price">R$ 23,89</span>
                    <span class="payment-options">À vista no PIX ou Cartão de Crédito/Débito</span>
                </div>
            </div>
        </div>
    </div>
   

    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-column footer-esquerdo">
                
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Sobre Nós</a></li>
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="/contact">Contato</a></li>
                </ul>
            </div>

            <div class="footer-central">
                
                <div class="social-links">
                    <p>Nossas Redes Sociais</p>
                    <br>
                    <a href="https://www.facebook.com/profile.php?id=100092841157612&locale=pt_BR">
                        <i class="fab fa-facebook-f"></i>
                        <img src="/img/icone_facebook_removebg.png" alt="facebook"></a>
                        <br>
                    <a href="https://x.com/PuraEssenc91630">
                        <i class="fab fa-twitter"></i>
                        <img src="/img/icone_X_removebg.png" alt="twiter" ></a>
                        <br>
                    <a href="https://www.instagram.com/puraessencia.official/">
                        <i class="fab fa-linkedin-in"></i>
                        <img src="/img/icone_Instagram_removebg.png" alt="instagram" />
                    </a>
                    <br>
                    <a href="https://contate.me/5511981992048">
                        <i class="fab fa-linkedin-in"></i> 
                        <img class=""src="/img/icone_whatsapp__1_-removebg.png" alt="Whatsapp" />
                    </a>
                </div>
               
            </div>

            <div class="footer-column footer-direito">
              <h4>Pura Essência</h4>
                <p>
                    R.Guiapa,678 Vila Leopoldina<br>
                    Cep.05089-001 - São Paulo, SP, Brasil<br>
                    Telefone:(12) 3456-7890<br>
                    Email: puraessencia@puraessencia.com.br
                </p>
               
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; @DateTime.Now.Year Seu Site. Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
