<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Pura Essência</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ProjetoPuraEssencia.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar col-12 m-a d-flex py-0 pb-5  h-auto align-items-center navbar-expand-sm navbar-toggleable-sm navbar-light mb-0 p-0 box-shadow ">
			<div class="container-fluid h-100 py-0">
				<img src="/img/logoPuraEssenciaSfundo.png" alt="logo" />
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuMobile" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="menuMobile" class="collapse navbar-collapse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login" target="_blank">Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	@RenderBody()
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
